* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.header{
	background-color: #214CCC;
	color: white;
	padding: 30px;
}

.divA{
	padding: 30px;
}

.divB{
	padding: 16px;
}

.aA{
	background-color: #214CCC;
	padding: 18px;
	text-decoration: none;
	color: white;
	border-radius: 3px;
}
